body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  padding: 3rem 2rem;
}

.nav {
  font-weight: 700;
}

.nav a {
  color: #90a4ae;
  padding: 1rem 2rem;
  text-decoration: none;
}

nav a:hover,
nav a:active,
nav a:focus {
  text-decoration: none;
  color: #455a64;
}

.main-jumbo {
  background-color: #fcc000;
}

/* user profile styles */
.profile {
  background-color: #F7F8F8;
  color: #455a64;
}

aside.sidebar-nav {
  width: 16rem;
  position: sticky;
  z-index: 1000;
  height: 100vh;
  background-color: #38454A;
}

aside .disconnect {
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}

.usr-avatar {
  width: 13rem;
  height: 13rem;
  overflow: hidden;
  margin: 0 auto;
  /*background-image: url("http://wemoe.fr/images/portman.jpg");*/
}

.disconnect a {
  background-color: #fcc000;
  color: #fff;
}

.disconnect a:hover,
.disconnect a:focus {
  background-color: #eab300;
  color: #F7F8F8;
}

aside .nav a{
  color: #768287;
  border-top: 1px solid #44515E;
}

aside .nav a:hover,
aside .nav a:active,
aside .nav a.active,
aside .nav a:focus {
  color: #fff;
  box-shadow: inset 4px 0 0px #3EBDFF;
}

main .help a.block {
  color: #768287;
}

main .help a.block:hover,
main .help a.block:focus,
main .help a.block:active {
  color: #3EBDFF;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

main {
  min-height: 60vh;
}

form span.star {
  color: red;
}

.socials a {
  text-decoration: none;
  color: #90a4ae;
}

.socials a:hover {
  color: #455a64;
}
